@{
    Layout = "Admin/_Layout";
}
@model Category

<div class="container content" >
    <div class="d-flex align-items-center gap-4">
        <a href="@Url.Action("Index", "Category")" class="myBtn back"><i class="fa-solid fa-arrow-left"></i></a>
        <h1>Aggiungi una nuova categoria</h1>
    </div>
    
    <form class="mt-5" asp-action="Create" asp-controller="Category" method="post"> 
        @Html.AntiForgeryToken()
        <label class="form-label fs-4 fw-bold">Nome della categoria</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Inserire il nome della nuova categoria"/>
        <span asp-validation-for="Name"></span>
        <div class="my-3">
            <button type="submit" class="btn btn-success">Crea nuova categoria</button>
        </div>
    </form>
</div>