@{
    Layout = "Admin/_Layout";
}

@model Category

<div class="container content">
    <div class="d-flex align-items-center gap-4">
        <a href="@Url.Action("Index", "Category")" class="myBtn back"><i class="fa-solid fa-arrow-left"></i></a>
        <h1>Modifica la categoria: @Model.Name</h1>
    </div>
    
    <form asp-action="Update" asp-controller="Category" asp-route-id="@Model.Id" method="post">
        @Html.AntiForgeryToken()
        <div class="my-3">
            <label class="form-label fs-4 fw-bold">Nome della categoria</label>
            <input type="text" asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger fw-bold"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-success">Modifica</button>
        </div>
        
    </form>
</div>